@import "../node_modules/bootstrap/scss/bootstrap";

.list-group{
    max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item{
    background-color:$gray-100;
}

.card{
    background-color:$blue-200;
}

body{
    background-color:$blue-100;
}